body {
    background-color: rgb(255 245 238);
}

nav {
    background-color: rgb(139, 35, 35);
    margin: 0;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

nav a:hover {
    color: rgb(139 35 35);
    background-color: rgb(255 245 238);
    background-size: 100px;
}

a {
    text-decoration: initial;
    color: rgb(255 245 238);
    font-size: larger;
}

nav li img {
    width: 100px;
}

h1 {
    display: flex;
    justify-content: center;
}

.container {
    height: 300px;
    width: 1000px;
    display: flex;
    background-color: rgb(41, 41, 41);
    box-shadow: 50px 20px 2px 1px rgb(217 217 217); 
}

#imgCaptainQuizz1 {
    width: 20%;
}

.colonnes {
    padding-left: 200px;
    padding-top: 20px;
    display:grid;
    grid-template-columns: 50px 50px;
    grid-template-rows: 100px 100px 100px;
    column-gap: 50px;
}

.bouclier {
  width: 100%;
  }

.buttont {
    height: 20px;
    width: 35px;
    color: beige;
    font-weight: bold;
}

#victoire {
    height: 20px;
    width: 35px;
    color: beige;
    font-weight: bold;
}

#bonnechance {
    color: rgb(255 245 238);
}

footer {
    background-color: rgb(139, 35, 35);
    color: rgb(255 245 238);
    bottom: 0;
    padding: 10px;
}

footer a img {
    width: 20px;
}
 
