
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  background-color: rgb(5,22,26);
  margin: 0;
  height: 100vh;
  width: auto;

}
.navbar {
display: flex;
width: 300px;
justify-content: space-between;
}

.links {
    color:beige;
    text-align: right;
}

h1 {
    color: beige;
    display: flex;
    justify-content: center;
    font-family: Space-Mono, monospace;
}


form{
    width: 100%;
    height: 100%;
}

    /*debut container*/
.container {
    height: 500px;
    background-image: url("./assets/fond-captain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex; 
    z-index: 1; 

}

#imgCaptainQuizz1 {
    width: 20%;
}

  /*start-button*/
.questionQuizz1 {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  border-spacing: 2rem;
}

.btn {
  margin: 0px 25px;
  bottom: 57px;
  display: inline-block;
  padding: 2rem 3.8rem;
  font-size: 30px;
  font-weight: 800;
  color: white;
  border: 3px solid rgb(213, 26, 34);
  cursor: pointer;
  position: relative;
  background-color:  transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: 'Oswald', sans-serif;
  font-family: 'Space Mono', monospace;
}
 
.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(213, 26, 34);
  transform: translateX(-100%);
  transition: all .3s;
  z-index: -1;
}

.btn:hover::before {
  transform: translateX(0);
}

.winbutton {
  margin: 0px 25px;
  bottom: 57px;
  display: inline-block;
  padding: 2rem 3.8rem;
  font-size: 30px;
  font-weight: 800;
  color: white;
  border: 3px solid rgb(213, 26, 34);
  cursor: pointer;
  position: relative;
  background-color:  transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: 'Oswald', sans-serif;
  font-family: 'Space Mono', monospace;
}
 
.winbutton::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(213, 26, 34);
  transform: translateX(-100%);
  transition: all .3s;
  z-index: -1;
}

.winbutton:hover::before {
  transform: translateX(0);
}
    /*end button*/

footer {
    margin: 0;
    width: 100%;
    bottom: 0;
    padding-right: 20px;
}

.footerLinks {
    text-align: right;
}
 
.popup {
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
  padding: 20px;
  text-align: center;
}

.popup p {
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
}

.popup button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
}