@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

* {
    font-family: 'Condensed Bold,Trebuchet MS,Helvetica,Arial,sans-serif';
}

body {
    background-color: rgb(255 245 238);
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(139, 35, 35);
    margin: 0;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

nav a:hover {
    color: rgb(139 35 35);
    background-color: rgb(255 245 238);
    background-size: 100px;
}

a {
    text-decoration: initial;
    color: rgb(255 245 238);
    font-size: larger;
}

nav li img {
    width: 100px;
}

h1 {
    margin: 5%;
    transform: rotate(-8deg);
    text-shadow: grey(217, 217, 217) 1px 0 10px;
    font-family: 'Delicious Handrawn', 'cursive';
    font-size: xx-large;
}

.title {
    display:flex;
    justify-content: center;
}

h3 img {

    width: 800px;
    padding-top: 10%;
    padding-right: 25%;
}

#letter {
    width: 70%;
    margin-top: 2%;
    margin-left: 7em;
    margin-bottom: 2%;
}

h4 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1% 0 2% 0;
    font-size: 30px;
    color: rgb(21, 19, 19);
    margin: 5%;
    text-shadow: grey 1px 0 10px;
    font-family: 'Delicious Handrawn', 'cursive';
    font-size: xx-large;
}


h5 {
    display: flex;
    justify-content: flex-end;
}


.class2 {
    margin: 0 5% 0 0;
    background-color: rgb(41, 41, 41);
    box-shadow: 50px 50px 0px rgb(217 217 217) ;
    display: grid;
    grid-template-columns:repeat(3, 33%);
    grid-template-rows:repeat(4, 25%);
}

.class2 img{
    width: 200%;
    grid-column-start: 2;
    grid-row-end: 2;
    margin-left: 40%;
}

.class2 p {


    background: hsl(0, 0%, 93%);
    color: #181717;
    padding: 7px 15px;
    border-radius:53% 50% 50% 50% /50% 50% 50% 50%; 
    width: 175%;
    height: 150PX;
    display: flex;
    align-items: center; 
    border: solid 6px black;
    
   
    
}

.class2 p::after {
    content: ""; 
    position:absolute;
    right:48%;
    bottom: 0rem ;
    top: 28rem;
    border-width:60px;
    border-style: solid;
    border-color:  hsl(0, 29%, 97%) transparent transparent transparent;
  }
   
   


.class3 {
    margin-top: 5%;
    margin-left: 10%;
    border-radius: 10px;
}

.class4 {
    background-color: rgb(41, 41, 41);
    box-shadow: -50px 50px 0px rgb(217 217 217);
 
}

#gris-clair {
    padding: 5rem 0 0 0;
}

.deadpoolButton2 {
display: flex;
justify-content: flex-end;
margin-bottom: -5%;
margin-right: 3em;
}

button {
    width: 20em;
    height: 5em;
    background-color: rgb(139, 35, 35);
    border-radius:20px;
    border: double 8px;
    margin-right: 2em;
    
}

button p {
    font-size: 20px;
    color: rgb(255 245 238);
}

footer {
    background-color: rgb(139, 35, 35);
    color: rgb(255 245 238);
    bottom: 0;
    padding: 10px;
   
}

footer a img {
    width: 30px;
}


