* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: initial;
}

.textWhite {
    color: #ffffff;
}

.textRed {
    color: #d51a22;
    font-weight: bold;
    font-size: 20px;
}

#fondNoir {
    background-color: #000;

}

#tour {
    background-image: url(assets/tour-accueil-flou.png);
    background-size: cover;
    height: 50vh;
}

#mcu {
    display: flex;
    align-items:center;
}

.textAccueil {
    display: flex;
    flex-direction: column;
}

h1 {
    color: #ffffff;
}

h2 {
    color: #d51a22;
}

h4 {
    color: #ffffff;
}

img {
    width: 30%;
    transform: scaleX(-1);
}
#tour-reverse{
    background-image: url(assets/tour-accueil-flou.png);
}

#tour-reverse img{
transform: scaleY(-1);
background-size: cover;
}

#logo {
    transform: scaleY(-1);
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 2vh;
}

#logo a img { /* régler le bord blanc en bas */
    width: 5vh;
}






#fond-noir-top{
    position: absolute;
    width: 327px;
    height: 100px;
    
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0 ) );

  
}

#fond-noir-bottom{


position: absolute;
width: 327px;
height: 100px;

background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) );


}



/*


menu burger*/


  




/* fin menu burger */


/* bouton démarrer */

.container {
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

.c-button {
    color: #000;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    padding: 0.9em 1.6em;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
  }
  
  .c-button--gooey {
    color: #d51a22;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 4px solid #d51a22;
    border-radius: 0;
    position: relative;
    transition: all 700ms ease;
  }
  
  .c-button--gooey .c-button__blobs {
    height: 100%;
    filter: url(#goo);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -3px;
    right: -1px;
    z-index: -1;
  }
  
  .c-button--gooey .c-button__blobs div {
    background-color: #d51a22;
    width: 34%;
    height: 100%;
    border-radius: 100%;
    position: absolute;
    transform: scale(1.4) translateY(125%) translateZ(0);
    transition: all 700ms ease;
  }
  
  .c-button--gooey .c-button__blobs div:nth-child(1) {
    left: -5%;
  }
  
  .c-button--gooey .c-button__blobs div:nth-child(2) {
    left: 30%;
    transition-delay: 60ms;
  }
  
  .c-button--gooey .c-button__blobs div:nth-child(3) {
    left: 66%;
    transition-delay: 25ms;
  }
  
  .c-button--gooey:hover {
    color: #fff;
  }
  
  .c-button--gooey:hover .c-button__blobs div {
    transform: scale(1.4) translateY(0) translateZ(0);
  }
  /* fin du bouton démarrer */