body{
    background-color: black;
}

nav{
    background-color: rgb(173, 36, 36);
    padding: 32px;  
    list-style-type: none;
    display: flex;
    align-items:stretch;
    justify-content: space-between;
    align-items: stretch;
}

a:hover{
    background-color: white;
    color: rgb(173, 36, 36);
    padding: 16px;
    background-color: black;
    
}


a{  
  
    text-decoration:initial;
    color: black; 
    font-size:large;

}

*{
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    color:  rgb(173, 36, 36);
}

nav>img {
  width: 100px;
}

footer{
    height:48px;
    background-color: rgb(173, 36, 36);
    color:black;
    display:flexbox;
    align-items:flex-end;
}