* {
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Space Mono', monospace;
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    .aboutUs {
        display: float;
    }
}

body {
    background-color: #05161a;
    /* max-width: 90%; */
}

header {
    max-width: 80%;
}

h1 {
    text-align: center;
    color: rgb(255 245 238);
    font-family: 'Oswald', sans-serif;
    font-family: 'Space Mono', monospace;
    font-size: 40px;
}

.logo {
    padding: 20px;
}

.navbar .links {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(255 245 238);
    font-size: 1.5rem;
}

.aboutUs {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    gap: 20px;
}

.wolverine {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: rgb(255 245 238);
    background-color: hsl(0, 0%, 83%, 10%);
    line-height: 25px;
    width: 300px;
    height: 500px;
    margin: 20px;
    padding: 20px;
}

.wolverineImg {
    text-align: center;
}

.rocket {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: rgb(255 245 238);
    background-color: hsl(0, 0%, 83%, 10%);
    line-height: 25px;
    width: 300px;
    height: 500px;
    margin: 20px;
    padding: 20px;
}

.rocketImg {
    text-align: center;
}

.drax {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: rgb(255 245 238);
    background-color: hsl(0, 0%, 83%, 10%);
    line-height: 25px;
    width: 300px;
    height: 500px;
    margin: 20px;
    padding: 20px;
    border: 5px;
    border-color: rgb(255 245 238);
}

.draxImg {
    text-align: center;
}

.spiderman {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: rgb(255 245 238);
    background-color: hsl(0, 0%, 83%, 10%);
    line-height: 25px;
    width: 300px;
    height: 500px;
    margin: 20px;
    padding: 20px;
}

.spidermanImg {
    text-align: center;
}

.thanos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: rgb(255 245 238);
    background-color: hsl(0, 0%, 83%, 10%);
    line-height: 25px;
    width: 300px;
    height: 500px;
    margin: 20px;
    padding: 20px;
}

.thanosImg {
    text-align: center;
}

.dPool {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: rgb(255 245 238);
    background-color: hsl(0, 0%, 83%, 10%);
    line-height: 25px;
    width: 300px;
    height: 500px;
    margin: 20px;
    padding: 20px;
}

.dPoolImg {
    text-align: center;
}

footer {
    /* margin: 0; */
    /* width: 100%; */
    position: absolute;
    bottom: 0;
    padding-right: 20px;
    /* max-width: 80%; */
    text-align: right;
}

.footerLinks {
    text-align: right;
    padding: 20px;
    transition: all .2s ease-in-out;
}

.insta:hover {
    text-align: right;
    transform: scale(1.5);
}

.faceB:hover {
    transform: scale(1.5);
}

.twit:hover {
    transform: scale(1.5);
}