* {
    margin: 0;
    padding: 0;
    font-family: 'Condensed Bold,Trebuchet MS,Helvetica,Arial,sans-serif';
}

@media screen and (max-width: 600px) {
    .aboutUs {
        display: float;
    }
}

body {
    background-color: #05161a;
}

header {
    position: relative;
    /* padding: 0 2rem; */
}

h1 {
    text-align: center;
    color: rgb(255 245 238);
}

.logo {
    padding: 20px;
}

.navbar .links {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(255 245 238);
    font-size: 1.5rem;
}

.aboutUs {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    gap: 20px;
}

.wolverine {

    color: rgb(255 245 238);
    background-color: hsl(0, 0%, 83%, 10%);
    line-height: 25px;
    width: 300px;
    height: 300px;
    margin: 20px;
    padding: 20px;
}

.wolverineImg {
    text-align: center;
}

.rocket {
    display: flex;
    color: rgb(255 245 238);
    background-color: hsl(0, 0%, 83%, 10%);
    line-height: 25px;
    width: 300px;
    height: 300px;
    margin: 20px;
    padding: 20px;
}

.rocketImg {
    text-align: center;
}

.drax {
    display: flex;
    color: rgb(255 245 238);
    background-color: hsl(0, 0%, 83%, 10%);
    line-height: 25px;
    width: 300px;
    height: 300px;
    margin: 20px;
    padding: 20px;
    border: 5px;
    border-color: rgb(255 245 238);
}

.draxImg {
    text-align: center;
}

.spiderman {
    display: flex;
    color: rgb(255 245 238);
    background-color: hsl(0, 0%, 83%, 10%);
    line-height: 25px;
    width: 300px;
    height: 300px;
    margin: 20px;
    padding: 20px;
}

.spidermanImg {
    text-align: center;
}

.thanos {
    display: flex;
    color: rgb(255 245 238);
    background-color: hsl(0, 0%, 83%, 10%);
    line-height: 25px;
    width: 300px;
    height: 300px;
    margin: 20px;
    padding: 20px;
}

.thanosImg {
    text-align: center;
}

.dPool {
    display: flex;
    color: rgb(255 245 238);
    background-color: hsl(0, 0%, 83%, 10%);
    line-height: 25px;
    width: 300px;
    height: 300px;
    margin: 20px;
    padding: 20px;
}

.dPoolImg {
    text-align: center;
}

footer {
    margin: 0;
    width: 100%;
    bottom: 0;
    padding-right: 20px;
}

.footerLinks {
    text-align: right;
}

.footerLinks:hover {

    color: rgb(139, 35, 35);
}

/* Rectangle 85 */

/* position: absolute;
width: 327px;
height: 100px;

background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.92) 55.73%);
transform: rotate(180deg); */