* {
    margin: 0;
    padding: 0;
    font-family: 'Condensed Bold,Trebuchet MS,Helvetica,Arial,sans-serif';
}

@media screen and (max-width: 600px) {
    .aboutUs {
        display: float;
    }
}

body {
    height: 100vh;
    background-color: rgb(255 245 238);
}

header {
    position: relative;
    /* padding: 0 2rem; */
}

h1 {
    text-align: center;
}

.navbar {
    background-color: rgb(139, 35, 35);
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.navbar .links {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

/* li {
    list-style: none;
} */

a {
    text-decoration: none;
    color: rgb(255 245 238);
    font-size: 1.5rem;
}

a:hover {
    background-color: rgb(255 245 238);
    color: rgb(139, 35, 35);
}

.aboutUs {
    gap: 10px;
    font-size: 17px;
}

.wolverine {
    display: grid;
    grid-template-columns: 1fr 2fr;
    color: rgb(255 245 238);
    background-color: rgb(41, 41, 41);
    box-shadow: 12px 12px 2px 1px grey;
    margin: 40px 20px;
    margin-right: 20%;
    padding: 20px;
}

.wolverineText {
    display: grid;
    /* grid-template-columns: auto 1fr; */
    text-align: right;
    line-height: 25px;
}

.rocket {
    display: grid;
    grid-template-columns: 2fr 1fr;
    color: rgb(255 245 238);
    background-color: rgb(41, 41, 41);
    box-shadow: 12px 12px 2px 1px grey;
    margin: 40px 20px;
    margin-left: 20%;
    padding: 20px;
}

.rocketText {
    display: grid;
    /* grid-template-columns: auto 1fr; */
    text-align: left;
    line-height: 25px;
}

.drax {
    display: grid;
    grid-template-columns: 1fr 2fr;
    color: rgb(255 245 238);
    background-color: rgb(41, 41, 41);
    box-shadow: 12px 12px 2px 1px grey;
    margin: 40px 20px;
    margin-right: 20%;
    padding: 20px;
}

.draxText {
    display: grid;
    grid-template-columns: auto 1fr;
    text-align: right;
    line-height: 25px;
}

.spiderman {
    display: grid;
    grid-template-columns: 2fr 1fr;
    color: rgb(255 245 238);
    background-color: rgb(41, 41, 41);
    box-shadow: 12px 12px 2px 1px grey;
    margin: 40px 20px;
    margin-left: 20%;
    padding: 20px;
}

.spidermanText {
    display: grid;
    grid-template-columns: auto 1fr;
    text-align: left;
    line-height: 25px;
}

.thanos {
    display: grid;
    grid-template-columns: 1fr 2fr;
    color: rgb(255 245 238);
    background-color: rgb(41, 41, 41);
    box-shadow: 12px 12px 2px 1px grey;
    margin: 40px 20px;
    margin-right: 20%;
    padding: 20px;
}

.thanosText {
    display: grid;
    /* grid-template-columns: auto 1fr; */
    text-align: right;
    line-height: 25px;
}

.dPool {
    display: grid;
    grid-template-columns: 2fr 1fr;
    color: rgb(255 245 238);
    background-color: rgb(41, 41, 41);
    box-shadow: 12px 12px 2px 1px grey;
    margin: 40px 20px;
    margin-left: 20%;
    padding: 20px;
}

.dPoolText {
    display: grid;
    /* grid-template-columns: auto 1fr; */
    text-align: left;
    line-height: 25px;
}

.dPoolImg {
    align-items: flex-end;
    align-content: end;
}

/* body {
    background-color: rgb(255 245 238);

}

nav {
    background-color: rgb(139, 35, 35);
    padding: 32px;
    list-style-type: none;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

a:hover {
    background-color: white;
    color: rgb(139 35 35);
    padding: 16px;
    background-color: rgb(255 245 238);

}


a {
    text-decoration: initial;
    color: rgb(255 245 238);
    font-size: larger;

}

* {
    font-family: 'Condensed Bold,Trebuchet MS,Helvetica,Arial,sans-serif'
}

p {
    color: white;
    background-color: rgb(139, 35, 35);
    width: 300px;
}

nav>img {
    width: 100px;
}

footer {

    background-color: rgb(139, 35, 35);
    color: rgb(255 245 238);
}

button {
    margin-left: 30%;
    margin-right: 30%;
    width: 500px;
    height: 40px;
    color: rgb(255 245 238);
    background-color: rgb(139, 35, 35);
    border-radius: 500px;
}

button>p {
    color: white;
    font-size: large;
}

h2 {
    margin-right: 20%;
    display: flex;
    justify-content: flex-start;
    background-color: rgb(41, 41, 41);

}

h1 {
    display: flex;
    justify-content: center;
}

h4 {
    display: flex;
    justify-content: center;
}

h3>img {

    width: 800px;
    padding-top: 10%;
    padding-right: 25%;
}

h3 {
    display: flex;
    justify-content: center;
    background-color: rgb(41, 41, 41);
    margin-left: 25%;

} */