@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Space+Mono&display=swap" );

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #05161a;

  
}





.header {
  margin: 20px;
  height: 50px;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.header img {
  z-index: 3;
  max-height: 80px;
  margin: 0px;
  border: 10px;
  padding: 20px;
  cursor: pointer;
}

.headerMenu {
  /* z-index: 2;
    width: 40px;
    height: 40px;
    color: white;
    cursor: pointer;
    transition: 0.4s transform linear */

  margin-right: 2%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  width: 40px;
  height: 40px;
  color: white;
  cursor: pointer;
  transition: 0.4s transform linear;
}

/* ICI */
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  background-color: #05161a 0.4;
  color: white;
  z-index: 6;
  padding: 50px 20px;
  transform: translateX(100%);
  transition: 0.4s transform cubic-bezier(1, -0.1, 0.03, 1.58);
  z-index: 2;
  position: fixed;
}

.navbar.active {
  transform: initial;
}

.menuderoulant {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 24px;
  margin-bottom: 24px;
  /* background: black;
    backdrop-filter: blur(1.5rem); */
  /* display: flex;
    flex-direction: column;
    justify-content: center; */
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  background-color: rgba(182, 182, 182, 0.2);
  font-family: roboto, sans-serif;
}

.navbar li {
  background-color: #05161a 0.2;
  list-style: none;
  margin-bottom: 12px;
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

.navbar li a {
  color: whitesmoke;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  position: relative;
  border: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.navbar li a svg {
  stroke: whitesmoke;
  width: 18px;
  height: 18px;
  margin-right: 16px;
}

.navbar li a:after {
  content: "";
  height: 1px;
  width: 0px;
  background-color: whitesmoke;
  position: absolute;
  bottom: -6px;
  right: 0;
  transition: 0.3s width ease-in-out;
}

.navbar li a:hover:after {
  width: 100%;
  left: 0;
}

.NavMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.menuOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #05161a;
  display: none;
}

.menuOverlay.active {
  display: block;
}

.navbarClose {
  /* z-index: 2;
    width: 40px;
    height: 40px;
    color: white;
    cursor: pointer;
    transition: 0.4s transform linear;
    display: flex;
    position: fixed;
    right: 0;
    margin-right: 68px;
    top: 35px;
    bottom: 24px; */

  z-index: 2;
  width: 40px;
  height: 40px;
  color: white;
  cursor: pointer;
  transition: 0.4s transform linear;
  display: flex;
  position: fixed;
  right: 2%;
  top: 0;
  bottom: 24px;
}

h1 {
    font-size: 150px;
    margin-top: 100px;
    text-align: center;
    color: whitesmoke;
    position: relative;
    font-family: oswald, sans-serif;
    
}



p { font-size: 50px;
    position: relative;
    margin-bottom: 200px;
    font-family: roboto;


}

#verticalBarreLeft {
  width: 3px; /* largeur de la ligne */
  height: 400px; /* hauteur de la ligne */
  background-color: white; /* couleur de la ligne */
  margin-left: 100px;
  margin-top: 200px;
  margin-bottom: 50px;
  position: absolute;
}

#verticalBarreRight {
  width: 2.5px; /* largeur de la ligne */
  height: 400px; /* hauteur de la ligne */
  background-color: white; /* couleur de la ligne */
  margin-top: 200px;
  position: absolute;
  right: 100px;
  margin-bottom: 50px;
}

#bravoBg {
  color: #fff;
  text-align: center;
  align-items: center;
  border: 15px;
  margin-left: 500px;
  margin-right: 500px;
  margin-top: 200px;
}








.backgroundImage {
  width: 100%;
  height: 100%;
  position: relative;
  top: -130px;
}

#fondTerre {
  width: 100%;
  height: 100%;
  background-size: contain;
  position: absolute;
}

#thumbsUp {
  width: 800px;
  margin-left: 50px;
  position: absolute;
  margin-top: 372px;
}



footer {
  position: fixed;
  bottom: 0;
  right: 0;
}

.footerLinks {
  padding: 20px;
  transition: all 0.2s ease-in-out;
}

.footerLinks ul li {
  list-style-type: none;
}

.insta:hover {
  transform: scale(1.5);
}

.faceB:hover {
  transform: scale(1.5);
}

.twit:hover {
  transform: scale(1.5);
}

@media screen and (max-width: 600px) {
  .aboutUs {
    display: flex;
  }
}
